/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  background: #d5dfe5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  color: #b49594;
  font-family: ‘abril fatface’, serif;
  text-align: center;
  font-size: 6rem;
  background: #d5dfe5;
  top: 0;
}

h2 {
  text-align: center;
  color: #c9b1bd; /*pinkish*/
}

p {
  font-family: verdana, sans, serif;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: auto;
  line-height: 20px;
  background: #d5dfe5; /*greyish*/
  margin-right: 150px;
  margin-left: 150px;
}

/* lists' css */
.list {
  font-family: verdana, sans, serif;
  text-align: left;
  text-indent: 0px;
  letter-spacing: auto;
  line-height: 20px;
  padding-top: 0px;
  padding-bottom: 30px;
  background: #d5dfe5;
  margin-right: 150px;
  margin-left: 100px;
}

/* list description heading */
.list-heading {
  font-family: verdana, sans, serif;
  font-weight: bold;
  color: #c9b1bd;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: justify;
  margin-right: 150px;
  margin-left: 100px;
}

.continuation {
  font-family: verdana, sans, serif;
  text-indent: 0px;
  text-align: justify;
  letter-spacing: auto;
  line-height: 20px;
  background: #d5dfe5; /*greyish*/
  margin-right: 150px;
  margin-left: 93px;
}

/* adjust typography defaults */
body {
  margin: 0;
  font-family: sans-serif;
}

/* images and videos max out at full width */
img,
video {
  height: 100%;
  max-width: 100%;
}

a:link {
  color: #b49594;
}
a:visited {
  color: #567568;
}

.background-video {
  width: calc(100% - 30px);
  height: 600px;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background: #d1b1cb;
  position: relative; /* try changing this to position: relative */
}

.full-screen {
  width: 100%;
  height: 600vh;
  border: 1px solid #d5dfe5;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
}
.full-screen p {
  padding: 10px;
}

.content-container {
  position: relative;
}

.content-container svg {
  font-size: 28px;
  position: fixed;
  margin-bottom: 15px;
  cursor: pointer;
}
.right {
  width: 40px;
  height: 40px;
  padding: 5px;
  color: white;
  right: 0%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 25px;
  background-color: #7f9172;
}

.left {
  width: 40px;
  height: 40px;
  padding: 5px;
  color: white;
  left: 0%;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 25px;
  background-color: #7f9172;
}


.content-container:hover svg {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.hidden {
  visibility: hidden;
}

#slide-2 {
  background: #d5dfe5;
}
#slide-3 {
  background: #d5dfe5;
}
#slide-4 {
  background: #d5dfe5;
}
#slide-5 {
  background: #d5dfe5;
}
#slide-6 {
  background: #d5dfe5;
}
#slide-7 {
  background: #d5dfe5;
}

button {
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  background: #c9b1bd;
  margin-bottom: 10px;
  color: White;
  position:absolute;
  margin-left: 40%;
  margin-top:6%;
  
}
#toggle-checklist {
  position:absolute;
  margin-left: 44.5%;
  margin-top:3%;
}

button:hover {
  opacity: 0.8;
}

#checklist {
  padding: 20px;
  bottom: 10px;
  width: 100%;
  color: white; 
  background: #c9b1bb;
  position: fixed;
  margin: 0px;
}

.hidden-checklist {
  width: 0px;
  overflow: hidden;
  padding: 0px;
}

.small-img {
  width: calc(100% - 30px);
  height: 600px;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background: #d1b1cb;
  position: relative;
}

.sml-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.sml-icon:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 40em;
  width: 50%;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

#drive {
  bottom: 15%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
}
@-webkit-keyframes run {
  0% {
    left: 0;
  }
  48% {
    -webkit-transform: rotateY(0deg); 
  }
  50% { 
    left: calc(100% - 100px);
    -webkit-transform: rotateY(180deg); 
  }
  98% {
    -webkit-transform: rotateY(180deg); 
  }
  100% {
    left: 0;    
     -webkit-transform: rotateY(0deg);
  }
  
}
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

/* slide show css */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.slide-show-img
{
   width: calc(100% - 30px);
  height: 600px;
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background: #d1b1cb;
  position: relative;
}

